.about--description-heading {
    font-family: 'TrashHand', sans-serif;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
}

.about--description-text {
    text-align: center;
    font-size: 1.2rem;
}

.about--image {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}