.about--description-heading {
    font-family: 'TrashHand', sans-serif;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
}
.about--description-heading::before {
    content: "#";
    font-family: 'Liu Jian Mao Cao', cursive;
}

.about--description-text {
    text-align: center;
    font-size: 1.2rem;
}

.about--image {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.about--people-grid {
    display: grid;
    grid-template-columns: repeat(8, max-content);
    column-gap: 10px;
    justify-content: center;

}

.about--people-link {
    text-decoration: none;
    color: unset;
    padding-bottom: 5px;
}


.about--people-link:hover {
    color: #ce4f55;
    padding-bottom: 5px;
}

.about--github-repo {
    display: grid;
    justify-content: center;
    padding: 30px;

}