.home--description-heading {
    font-family: 'TrashHand', sans-serif;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
}

.home--description-text {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px #959ba1 solid;

}

.home--description-heading-hashtag {
    font-family: 'Liu Jian Mao Cao', cursive;
}