$image: url('../resources/images/jumbotron.jpg');
$gradient: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

.jumbotron {
	border-radius: 0 !important;
	h1 {
		text-shadow: 0 0 15px #000;
	}
}
.jumbotron-background {
	min-height: 500px;
	background-image: $gradient, $image;
	background-size: cover;
	background-position: center;
	display: grid;
	justify-content: center;
}
