html,
body {
	background-color: #e9ecef;
}

.login--bg {
	width: 100%;
	height: calc(100vh - (56px + 40px));
	display: flex;
	align-items: center;
	text-align: center;

	img {
		max-width: 100%;
		margin-bottom: 40px;
	}

	.login--form,
	.signup--form {
		margin: auto;
		width: 100%;
		max-width: 400px;

		.row {
			margin: 15px 0;
		}
	}

	.signup--form {
		max-width: 600px;
	}
}
